@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
}

h1 {
  margin-left: 3rem;
}

h2 {
  margin-left: 3rem;
}

.miniature {
  height: 100%;
  width: 15%;
  min-width: 75px;
  margin: 5px;
  margin-bottom: 50px;
  overflow: hidden;
}

.miniature-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-right: 1rem;
  margin-left: 1rem;
}

.miniature-category {
  background-color: #1e1e1e;

  display: inline-block;
  font-size: 40px;
}

.miniature-image {
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.category-name {
  display: flex;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;

  justify-content: center;
  align-items: center;

  font-size: 3vw;
}

.title {
  background-color: #414141;
  color: #ffffff;

  display: flex;
  padding: 0.4rem;
  margin: 0;

  -webkit-box-shadow: inset 1px -74px 126px -73px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: inset 1px -74px 126px -73px rgba(0, 0, 0, 0.69);
  box-shadow: inset 1px -74px 126px -73px rgba(0, 0, 0, 0.69);
}

.main-conteiner {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.content {
  margin-bottom: 10px;
}

img {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #0071fe;
  padding: 0.5rem;
  margin: 0;
  color: #ffffff;

  flex-wrap: wrap;

  -webkit-box-shadow: inset 1px -74px 126px -73px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: inset 1px -74px 126px -73px rgba(0, 0, 0, 0.69);
  box-shadow: inset 1px -74px 126px -73px rgba(0, 0, 0, 0.69);
}

.header .logo {
  flex-grow: 4;
}

.header .nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  justify-content: flex-end;
}

.header .nav .login {
  flex-grow: 0;

  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.header .nav .trial {
  flex-grow: 0;
 
}

.header .nav .login p {
  margin-right: 30px;
}

.header .nav .trial button {
  background-color: #414141;
  color: white;
  border: none;
  padding: 15px 15px;
  font-size: 16px;
  margin: 4px 2px;
  margin-right: 30px;
  cursor: pointer;
}

footer {
  display: flex;

  bottom: 0;
  background-color: #1e1e1e;
  color: #414141;
  flex-wrap: wrap;

  height: 100%;
  width: 100%;
  padding-bottom: 30px;
  max-height: 500px;
}

footer .container {
  display: flex;
  flex-direction: column;
  margin: 5%;
  width: 100%;
}

footer .images {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

footer .images .social {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-top: 30px;
}

footer .images .appStore {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

footer .images .appStore img {
  margin-right: 30px;
  width: auto;
  margin-top: 30px;
}

footer .links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

footer .links div {
  margin: 1rem;
}

footer .images .social img {
  max-height: 2.5rem;
  flex-grow: 1;
  max-width: 3rem;
}

footer .images img {
  max-height: 2.5rem;
  flex-grow: 1;
  margin-right: 20px;
}

.divider-vertical {
  height: 1rem;
  width: 1px;
  margin: 0 5px;
  background-color: #414141;
  border-right: 2px solid #414141;
}

#root {
  width: 100%;
}


.link{
  color: white;
  text-decoration: none;
}

.error {

}
.error-container {
  margin: 3rem;
}